@using GestionBoutiqueC.Core
@using GestionBoutiqueC.Entities
@model PaginationModel<Paiement>
@{
    ViewData["Title"] = "Liste des Paiement";
}


<div class="container mx-auto mt-6">
    <table class="min-w-full bg-white mb-4  border border-gray-300 rounded-lg">
        <thead>
            <tr class="bg-burgundy">
                <th class="py-2 px-4 border-b text-white text-left">Date</th>
                <th class="py-2 px-4 border-b text-white text-left">Montant</th>
                <th class="py-2 px-4 border-b text-white text-left">Id de la dette</th>
                <th class="py-2 px-4 border-b text-white text-left">Client</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var paiement in Model.Items)
            {
                <tr class="bg-nude hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">@paiement.Date</td>
                    <td class="py-2 px-4 border-b">@paiement.Montant</td>
                    <td class="py-2 px-4 border-b">@paiement.DetteId</td>
                    <td class="py-2 px-4 border-b">@paiement?.Dette?.Client?.Surnom</td>

                </tr>
            }
            @if (!Model.Items.Any())
            {
                <tr>
                    <td colspan="4" class="py-2 px-4 text-center">Aucun paiement ce client.</td>
                </tr>
            }
        </tbody>
    </table>
      <!-- Pagination -->
    <div class="flex justify-end mt-4">
        <nav aria-label="Page navigation">
            <ul class="flex list-none space-x-2">
                @if (Model.HasPreviousPage)
                {
                    <li>
                        <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })"
                        class="px-4 py-2 border bg-burgundy text-white rounded-lg hover:bg-red-700">
                            &laquo; 
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li>
                        <a href="@Url.Action("Index", new { page = i })"
                        class="px-4 py-2 border rounded-lg 
                        @(i == Model.CurrentPage 
                            ? "bg-red-700 text-white border-red-700 hover:bg-red-800" 
                            : "bg-white text-burgundy border-burgundy hover:bg-gray-100")">
                            @i
                        </a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li>
                        <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })"
                        class="px-4 py-2 border bg-burgundy text-white rounded-lg hover:bg-red-700">
                            &raquo;
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>

</div>
