@model IEnumerable<GestionBoutiqueC.Entities.Paiement>

@{
    ViewData["Title"] = "Liste des Paiement";
}


<div class="container mx-auto mt-6">
    <table class="min-w-full bg-white mb-4  border border-gray-300 rounded-lg">
        <thead>
            <tr class="bg-burgundy">
                <th class="py-2 px-4 border-b text-white text-left">Date</th>
                <th class="py-2 px-4 border-b text-white text-left">Montant</th>
                <th class="py-2 px-4 border-b text-white text-left">Id de la dette</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var paiement in Model)
            {
                <tr class="bg-nude hover:bg-gray-100">
                    <td class="py-2 px-4 border-b">@paiement.Date</td>
                    <td class="py-2 px-4 border-b">@paiement.Montant</td>
                    <td class="py-2 px-4 border-b">@paiement.DetteId</td>

                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="py-2 px-4 text-center">Aucun paiement effectue pour cette dette</td>
                </tr>
            }
        </tbody>
    </table>
      <!-- Pagination -->
    <div class="flex justify-between items-center py-4">
        <span class="text-sm text-gray-700">
        .
        </span>
        <div class="flex space-x-2">
             @if (ViewBag.Page >= 1)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page - 1, limit = ViewBag.limit })" 
                   class="px-3 py-1 border bg-burgundy border-gray-300 text-white rounded-md hover:bg-gray-100">
                    &lt; &lt;
                </a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { page = i, limit = ViewBag.limit })" 
                   class="px-4 py-1 border 
                          @(i == ViewBag.Page ? "bg-white text-burgundy" : "border-gray-300 text-gray-700 hover:bg-gray-100") 
                          rounded-md">
                    @i
                </a>
            }

            @if (ViewBag.Page <= ViewBag.TotalPages)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page + 1, limit = ViewBag.limit })" 
                   class="px-3 py-1 border bg-burgundy border-gray-300 text-white rounded-md hover:bg-gray-100">
                  &gt;>
                </a>
            }
        </div>
    </div>
</div>
