@model IEnumerable<GestionBoutiqueC.Entities.Article>

@{
    ViewData["Title"] = "Liste des articles";
    Layout = "_Layout";
}

@* <h1>@ViewData["Title"]</h1> *@

<div class="flex">
    <div class="w-full p-6">
        <table class="min-w-full bg-white mb-4 border border-gray-300 rounded-lg">
            <thead>
                <tr class="bg-burgundy">
                    <th class="py-2 px-4 border-b text-white text-left">libelle</th>
                    <th class="py-2 px-4 border-b text-white text-left">Reference</th>
                    <th class="py-2 px-4 border-b text-white text-left">Prix</th>
                    <th class="py-2 px-4 border-b text-white text-left">qteStock</th>
                    <th class="py-2 px-4 border-b text-white">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr class="bg-nude hover:bg-gray-100">
                        <td class="py-2 px-4 border-b">@article.Libelle</td>
                        <td class="py-2 px-4 border-b">@article.Reference</td>
                        <td class="py-2 px-4 border-b">@article.Prix</td>
                        <td class="py-2 px-4 border-b">@article.QteStock</td>
                        <td class="py-2 px-4 border-b text-center">
                            <div class="flex justify-center items-center space-x-4">
                                <!-- Icône Détails -->
                                <a href="@Url.Action("Details", "Article", new { id = article.Id })" class="text-red-500 hover:text-gray-700">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                                    </svg>
                                </a>

                                <!-- Icône Supprimer -->
                                <a href="@Url.Action("Delete", "Article", new { id = article.Id })" class="text-gray-500 hover:text-red-600" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce client ?');">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                        <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="4" class="py-2 px-4 text-center">Aucun article trouvé.</td>
                    </tr>
                }
            </tbody>
        </table>
            <!-- Pagination -->
    <div class="flex justify-between items-center py-4">
        <span class="text-sm text-gray-700">
        .
        </span>
        <div class="flex space-x-2">
            @if (ViewBag.Page >= 1)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page - 1, limit = ViewBag.limit })" 
                   class="px-3 py-1 border bg-burgundy border-gray-300 text-white rounded-md hover:bg-gray-100">
                    &lt; &lt;
                </a>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="@Url.Action("Index", new { page = i, limit = ViewBag.limit })" 
                   class="px-4 py-1 border 
                          @(i == ViewBag.Page ? "bg-white text-burgundy" : "border-gray-300 text-gray-700 hover:bg-gray-100") 
                          rounded-md">
                    @i
                </a>
            }

            @if (ViewBag.Page <= ViewBag.TotalPages)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page + 1, limit = ViewBag.limit })" 
                   class="px-3 py-1 border bg-burgundy border-gray-300 text-white rounded-md hover:bg-gray-100">
                  &gt;>
                </a>
            }
        </div>
    </div>

</div>
